cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
Django==2.2
export==0.1.2
google-api-core==1.10.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-bigquery==1.11.2
google-cloud-core==0.29.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
httplib2==0.12.3
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.0.3
mysqlclient==1.4.2.post1
numpy==1.16.3
pandas==0.24.2
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
rsa==4.0
scikit-learn==0.21.0
scipy==1.2.1
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.24.3
